

* {
    font-family: 'Source Sans Pro';
    color: white;
    line-height: 1;
    margin: 0;
}


.container {
    background-image: url("img/Object.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}




/*Header*/


.nav {
   display: flex;
   flex-direction: row;
   height: 40px;
   align-items: center;
   font-weight: bold;
   font-size: 20px;
   justify-content: space-evenly;
   padding: 20px 10%;
}


.logo {
    height: 80%;
    margin-left: 1%;
}


.nav a {
    color: white;
    text-decoration: none;
    margin: 20px;
    padding-right: 10px;
}






/* Main */




.main_text {
    text-align: center;
}






.main_text h1 {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 1%;
}


.main_text span {
    font-size: 20px;
    word-spacing: 40px;
    color: white;
    padding: 40px;
    margin-bottom: 20px;
}


.slogan h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5%;
}


.btn {
    border: 1px solid #c271ff;
    border-radius: 50px;
    background-color: #c271ff;
    color: white;
    padding: 10px 10px;
    margin-top: 2%;
}


.pros {
    padding-left: 9%;
    display: flex;
    justify-content: space-between;
}


.pro {
    flex: 1;
    align-items: center;
}


.pros > .pro h3 {
    color: white;
    font-weight: 700;
    margin-bottom: 5px;
}


.pros > .pro p {
    color: white;
    font-weight: 100;
    font-style: italic;
    text-align: justify;
}




/* Main (testimonial)*/


.testimonial {
    background-color: #c271ff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    text-align: left;
}




.quote {
    text-align: left;
    margin-left: 5px;
    font-size: large;
}


.testimony {
    margin-left: -50px;
}


.testimony p {
    color: white;
    font-style: italic;
    text-align: left;
}




/* Main (Tutorial)*/


.tutorial {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}


.tutor {
   
    position: relative;
}




.tutor h3, p {
    color: #071629;
}


.tutor p {
    color: #071629;
}


.rating_time > .time {
    color: #c271ff;
}


.tutorials {
    background-color: white;
}
.tutorials .tut_heading {
    font-size: 30px;
    color: #071629;
    text-align: center;
    font-weight: 400;
}


.tutorials span {
    color: #c271ff;
}


.reviewer {
    display: flex;
    flex-direction: row;
    flex: auto;
    align-items: center;
}


.reviewer h4 {
    color: #c271ff;
}


.rating {
    display: flex;
}


.rating > .purple {
    color: #c271ff;
}


.rating > .grey {
    color: #D8D8D8;
}


.rating_time {
    display: flex;
    flex-direction: row;
    flex: auto;
    align-items: center;
}


/* Main (membership)*/


.membership {
    background-color: #071629;
    text-align: center;
    height: 20rem;
}


.membership h2, p {
    color: white;
    text-align: center;
   
}


.membership span {
    color: #c271ff;
}


.ads {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}


.btn {
    border: 1px solid #c271ff;
    border-radius: 50px;
    background-color: #c271ff;
    color: white;
    padding: 10px 10px;
}    




/* Main FAQ*/






.FAQ_head{
    text-align: center;
    font-size: 50px;
    color: gray;
}


.faq {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px;
    margin-bottom: 5%;
    color: gray;
}


.text {
    opacity: 0.5;
    color: gray;
}


/* Main (footer)*/


footer {
    background-color: #071629;
    height: 50%;
}






.footer .logo {
    height: 50%;
    margin-left: 10%;
}
.bruce{
    border-radius: 50px 50px;
}
